body {
    background: #2b2b2b;
    color: #555;
}

.menu_superior {
    background-color: #bf130d;
}

.fundo_branco {
    background-color: white !important;
    min-height: 800px;
}

.scala_logo {
    width: 120px !important;
}

.title-odd-atual {
    background-color: #bf130d !important;
    color: rgb(255, 255, 255) !important;
}

.campeonato_header_td {
    background-color: #b84a46 !important;
    color: white;
}

.btn:hover,
.btn-focus {
    background-color: #b84a46 !important;
    color: white !important;
    border: none;
}

.inputBilhete {
    width: 70px !important;
    height: 25px !important;
}

.inputNomeCliente {
    width: 150px !important;
    height: 25px !important;
}
body {
    background: #2b2b2b;
    color: #555;
}

.menu_superior {
    background-color: #bf130d;
}

.fundo_branco {
    background-color: white !important;
    min-height: 800px;
}

.scala_logo {
    width: 120px !important;
}

.title-odd-atual {
    background-color: #bf130d !important;
    color: rgb(255, 255, 255) !important;
}

.campeonato_header_td {
    background-color: #b84a46 !important;
    color: white;
}

.btn:hover,
.btn-focus {
    background-color: #b84a46 !important;
    color: white !important;
    border: none;
}

.inputBilhete {
    width: 70px !important;
    height: 25px !important;
}

.inputNomeCliente {
    width: 150px !important;
    height: 25px !important;
}

.saldo_usuario {
    width: 120px !important;
    height: 25px !important;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}

@media screen and (max-width: 480px) {
    #myBtn {
        display: block;
    }
}
