body {
    background: #2b2b2b;
    color: #555;
}

.menu_superior {
    background-color: #bf130d;
}

.fundo_branco {
    background-color: white !important;
    min-height: 800px;
}

.scala_logo {
    width: 120px !important;
}

.title-odd-atual {
    background-color: #bf130d !important;
    color: rgb(255, 255, 255) !important;
}

.campeonato_header_td {
    background-color: #b84a46 !important;
    color: white;
}

.btn:hover,
.btn-focus {
    background-color: #b84a46 !important;
    color: white !important;
    border: none;
}

.inputBilhete {
    width: 70px !important;
    height: 25px !important;
}

.inputNomeCliente {
    width: 150px !important;
    height: 25px !important;
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
